{% extends "popup_base.html" %}      

{% block extrahead %}
<title>PYMOBILE | Appuntamenti</title>
<script type="text/javascript" src="{{ STATIC_URL }}/js/assignform.js"></script> 
{% endblock %}

{% block header %} 
<h2>Amministrazione Appuntamenti | Assegna Appuntamento</h2>
{% endblock %}

{% block content %}
<form action="{% url assign_appuntamento %}" method="POST">
	{% csrf_token %}	
	<span>Sei sicuro di voler assegnare i seguenti appuntamenti all'agente <b>{{ agente }}</b></span>
	<ul>
	{% for obj in objs %}
		<li>
			<b>{{ obj }}</b>
			{% if obj.agente %}
				<p class="warning">
					<b>Attenzione:</b>
					L'appuntamento è già assegnato all'agente <b>{{ obj.agente }}</b><br/>
				   	L'agente verrà cambiato.
			    </p>
			{% endif %}
			{% if agente.data_assunzione > obj.data %}
				<p class="warning">
					<b>Attenzione:</b>
					La data dell'appuntamento è precedente alla data di assunzione dell'agente <b>{{ obj.agente }}</b>
			    </p>				
			{% endif %}
			{% if agente.data_licenziamneto and agente.data_licenziamento > obj.data %}
				<p class="warning">
					<b>Attenzione:</b>
					La data dell'appuntamento è successiva alla data di licenziamento dell'agente <b>{{ obj.agente }}</b>
			    </p>				
			{% endif %}
			<input type="hidden" name="id" value="{{ obj.id }}" />
		</li>
	{% endfor %}
	</ul>
	<input type="hidden" name="agente" value="{{ agente.id }}"/>
	<input type="submit" value="Salva" />
	<input type="submit" class="save_and_send_mail" value="Salva e invia Mail">
	<button onclick="window.close()">Annulla</button>
</form>
{% endblock %}