{% extends "base.html" %}      

{% load tags %}

{% block extrahead %}
<title>PYMOBILE | Dipendente</title>
<script type="text/javascript" src="{{ STATIC_URL }}/js/viewobj.js"></script>
{% endblock %}

{% block header %} 
<h2>Amministrazione Dipendenti | {{ object }}</h2> 
{% endblock %}

{% block content %}
<div class="navigation">
	<fieldset>
	<legend>Sei qui</legend>
		{% if user|get_group == "amministratore" %}
		<a href="../../">home</a> &gt; 
		<a href="{% url init_dipendente %}">amministrazione dipendenti</a> &gt;
		{% endif %}
		<a href="./">{{ object }}</a>
	</fieldset>
</div>
<div class="actions">
	<fieldset>
	<legend>Azioni</legend>
		{% if user|get_group == "amministratore" %}
			{% if object.ruolo == "tel" %}
				<a href="{% url view_account object.account.pk %}">gestisci account</a> |
				<a href="{% url init_appuntamento %}?ftelefonista=={{ object.id }}">visualizza appuntamenti</a> |
			{% endif %}
			{% if object.ruolo == "agt" %}
				<a href="{% url init_appuntamento %}?fagente=={{ object.id }}">visualizza appuntamenti</a> |
				<a href="{% url init_contratto %}?fagente=={{ object.id }}">visualizza contratti</a> |
			{% endif %}
			{% if object.ruolo == "adm" %}
				<a href="#">gestisci account</a> |
			{% endif %}
			<a href="provvigione/">gestisci retribuzione</a> |
			<a id="mod_{{ object.id }}" class="modifyobj" href="{% url mod_dipendente object.id %}">modifica</a> |
			<a id="del_{{ object.id }}" class="deleteobj" href="{% url del_dipendente %}?id={{ object.id }}">elimina</a>
		{% else %}
			nessuna azione disponibile
		{% endif %}
	</fieldset>
</div>
<div class="div_detail">
	<fieldset>
	<legend>Dati Dipendente</legend>
		<table class="table_detail">
			<tr><td>Cognome</td><td>{{ object.cognome }}</td></tr>
			<tr><td>Nome</td><td>{{ object.nome }}</td></tr>
			<tr><td>Email</td><td>{{ object.email }}</td></tr>
			<tr><td>Telefono</td><td>{{ object.telefono }}</td></tr>
			<tr><td>Cellulare</td><td>{{ object.cellulare }}</td></tr>
			<tr><td>Ruolo</td><td>{{ object.get_ruolo_display }}</td></tr>
			<tr><td>Data Assunzione</td><td>{{ object.data_assunzione }}</td></tr>
			<tr>
				{% if object.data_licenziamento %}
				<td>Data Licenziamento</td><td>{{ object.data_licenziamento }}</td>
				{% else %}
				<td>Data Licenziamento</td><td>Rapporto di lavoro ancora in corso</td>
				{% endif %}
			</tr>
		</table>
	</fieldset>
<!-- 	<div class="op_detail">
		<ul id="op_list">
			<li><a id="mod_{{ object.id }}" class="modifyobj" href="{% url mod_dipendente object.id %}">Modifica</a></li>
			<li><a id="del_{{ object.id }}" class="deleteobj" href="{% url del_dipendente %}?id={{ object.id }}">Cancella</a></li>
		</ul>
	</div> --></div>
{% endblock %}
