{% extends "base.html" %}      

{% block extrahead %}
<title>PYMOBILE | Opzioni Iniziali</title> 
{{ modelform.media }}
{% endblock %}

{% block header %} 
<h2>Amministrazione Opzioni Iniziali | Modifica Opzioni Iniziali</h2>
{% endblock %}

{% block content %}
{% load tags %}
<div class="navigation">
	<fieldset>
	<legend>Sei qui</legend>
		<a href="../../">home</a> &gt;
		<a href="{% url init_opzione %}">amministrazione opzioni iniziali</a> &gt;
		<a href="{% url mod_opzione %}">modifica opzioni iniziali</a>
	</fieldset>
</div>
<div class="modelform_div">
	<form class="modelform" action="." method="post">
		<div class="modelform_fieldset_div">
			<fieldset class="modelform_fieldset">
				<legend><b>Dati Opzioni Iniziali</b></legend>
				{% csrf_token %}
				{% for hidden_field in modelform.hidden_fields %}
				   {{ hidden_field }}
				{% endfor %}						
				<table>
					{% if modelform.non_field_errors %}
					<tbody>
						<tr class="field_error">
							<td colspan="2">{{ modelform.non_field_errors|first }}</td>
						</tr>					
					</tbody>
					{% endif %}					
					{% for field in modelform.visible_fields %}
					<tbody class="field">
						{% if field.errors %}
							<tr class="field_error">
								<td></td><td>{{ field.errors|first|safe }}</td>
							</tr>
						{% endif %}
						<tr class="{% if field.errors %}modelfield_error{% endif %}" >
							<td>{{ field.label_tag }}</td>
							<td>
								{{ field }}
								{% if field|isdate %}
									<input type="button" class="dateclear" value="svuota" />
					    		{% endif %}
							    {% if field|isfk %}
							    	<a id="add_{{ field.auto_id }}" class="add_subform" href="{% url add_fk field.html_name %}">
							    		<img src="{{ STATIC_URL }}/img/add.png" />
						    		</a>
					    		{% endif %}
							</td>
						</tr>
						{% if field.help_text %}
							<tr class="field_help">
								<td></td><td>{{ field.help_text|safe }}</td>
							</tr>
						{% endif %}
					</tbody>
					{% endfor %}
				</table>
			</fieldset>
		</div>
		<div class="submitrow">
			<input type="submit" class="modelform_save" value="salva" />
			{% if action == "add" %}
			<input type="button" class="modelform_save_and_add" value="salva e aggiungi un altro" />
			{% endif %}
			<button class="cancel">Annulla</button>
		</div>
	</form>
</div>
{% endblock %}