{% extends "base.html" %}      

{% block extrahead %}
<title>PYMOBILE | Statistiche</title>
<script type="text/javascript" src="{{ STATIC_URL }}/js/reporttable.js"></script> 
{{ filterform.media }} 
{% endblock %}

{% block header %} 
<h2>Statistiche: Finanza</h2>
{% endblock %}

{% load tags %}

{% block content %}
<div class="navigation">
	<fieldset>
	<legend>Sei qui</legend>
		<a href="../">home</a> &gt;
		<a href="{% url init_statistiche %}">statistiche</a> &gt;
		<a href=".">economia: entrate/uscite</a>
	</fieldset>
</div>
<div id="reporttable_div">
	<fieldset>
	<legend>Tabelle entrate/uscite <i>(da {{ period.0 }} a {{ period.1 }})</i></legend> 
		{% load django_tables2 %}<!-- 
		<p><b>Periodo</b>: da <b>{{ period.0 }}</b> a <b>{{ period.1 }}</b></p> --><!-- 
		<p>Tabella Totali</p> -->
		<fieldset>
		<legend>Tabelle dei totali</legend>
			{% render_table table %}
		</fieldset>
		<!-- 
		<p>Tabella delle Entrate</p> -->
		<fieldset>
		<legend>Tabelle delle entrate</legend>
			{% render_table table_in %}
		</fieldset>
		<!-- 
		<p>Tabella delle Uscite</p> -->
		<fieldset>
		<legend>Tabelle delle uscite</legend>
			{% render_table table_out %}
		</fieldset>
	</fieldset>
</div>
{% endblock %}

{% block extraleft_bar %}
<div id="filter_reporttable_div">
	<form id="filter_reporttable_form" action=".">
		<fieldset class="filter_reporttable_fieldset">
		<legend>Filtro</legend>
			<table>				
				{% for field in filterform.visible_fields %}
				<tbody>
					<tr><td><b>{{ field.label_tag }}</b></td><td>{{ field }}</td></tr>
					{% if field.help_text %}
					<tr class="field_help"><td></td><td>{{ field.help_text }}</td></tr>
					{% endif %}
				</tbody>
				{% endfor %}
			</table>
		</fieldset>
		<input type="submit" id="filter_reporttable_search" value="cerca" />
		<input type="reset" id="filter_reporttable_reset" value="reset" />
	</form>
</div>	
{% endblock %}