{% extends "django_tables2/table.html" %}

{% block table.tfoot %}
<tfoot id="totals_row">
	<tr>
		<td><b>Totali</b></td>
		<td>{{ totals_in.n_stipulati }}</td>
		<td>
			{{ totals_in.entrate.total|stringformat:".2f" }}€
			{% if totals_in.entrate.total != 0 %}
			<a class="view_details" href="#"><img src="{{ STATIC_URL }}/img/destra.png" /></a>
	        <p class="details">
	            {% for k, total in totals_in.entrate.details.iteritems %}
	            <b>{{ k }}</b>: {{ total|stringformat:".2f" }}€<br />
	            {% endfor %}
	        </p>
	        {% endif %}
        </td>
	</tr>
</tfoot>   
{% endblock %}