{% spaceless %}
{% load django_tables2 %}
<div class="table-container">
<p>Tabella delle Entrate</p>
<p><b>Periodo</b>: da <b>{{ period.0 }}</b> a <b>{{ period.1 }}</b></p>
<table{% if table_in.attrs %} {{ table_in.attrs.as_html }}{% endif %}>
    <thead>
        <tr class="{% cycle "odd" "even" %}">
        {% for column in table_in.columns %}
        {% if column.sortable %}
            {% with column.order_by as ob %}
            <th class="{% spaceless %}{% if column.sortable %}sortable {% endif %}{% if ob %}{% if ob.is_descending %}desc{% else %}asc{% endif %}{% endif %}{% endspaceless %}"><a href="{% if ob %}{% set_url_param sort=ob.opposite %}{% else %}{% set_url_param sort=column.name %}{% endif %}">{{ column.header }}</a></th>
            {% endwith %}
        {% else %}
            <th>{{ column.header }}</th>
        {% endif %}
        {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in table_in.page.object_list|default:table_in.rows %} {# support pagination #}
        <tr class="{% cycle "odd" "even" %}">
            {% for cell in row %}
                <td>{{ cell }}</td>
            {% endfor %}
        </tr>
        {% empty %}
        {% if table_in.empty_text %}
        <tr><td colspan="{{ table_in.columns|length }}">{{ table_in.empty_text }}</td></tr>
        {% endif %}
        {% endfor %}
    </tbody>
    <tfoot id="totals_row">
    	<tr>
    		<td><b>Totali</b></td>
    		{% for tot in totals_in %}
    		<td>{{ tot }}</td>
    		{% endfor %}
    	</tr>
    </tfoot>
</table>
{% if table.page %}
<ul class="pagination">
    {% if table.page.has_previous %}
    <li class="previous"><a href="{% set_url_param page=table.page.previous_page_number %}">Previous</a></li>
    {% endif %}
    <li class="current">Page {{ table.page.number }} of {{ table.paginator.num_pages }}</li>
    {% if table.page.has_next %}
    <li class="next"><a href="{% set_url_param page=table.page.next_page_number %}">Next</a></li>
    {% endif %}
</ul>
{% endif %}

<p>Tabella delle Uscite</p>
<p><b>Periodo</b>: da <b>{{ period.0 }}</b> a <b>{{ period.1 }}</b></p>
<table{% if table_out.attrs %} {{ table_out.attrs.as_html }}{% endif %}>
    <thead>
        <tr class="{% cycle "odd" "even" %}">
        {% for column in table_out.columns %}
        {% if column.sortable %}
            {% with column.order_by as ob %}
            <th class="{% spaceless %}{% if column.sortable %}sortable {% endif %}{% if ob %}{% if ob.is_descending %}desc{% else %}asc{% endif %}{% endif %}{% endspaceless %}"><a href="{% if ob %}{% set_url_param sort=ob.opposite %}{% else %}{% set_url_param sort=column.name %}{% endif %}">{{ column.header }}</a></th>
            {% endwith %}
        {% else %}
            <th>{{ column.header }}</th>
        {% endif %}
        {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in table_out.page.object_list|default:table_out.rows %} {# support pagination #}
        <tr class="{% cycle "odd" "even" %}">
            {% for cell in row %}
                <td>{{ cell }}</td>
            {% endfor %}
        </tr>
        {% empty %}
        {% if table_out.empty_text %}
        <tr><td colspan="{{ table_out.columns|length }}">{{ table_out.empty_text }}</td></tr>
        {% endif %}
        {% endfor %}
    </tbody>
    <tfoot id="totals_row">
    	<tr>
    		<td><b>Totali</b></td>
    		{% for tot in totals_out %}
    		<td>{{ tot }}</td>
    		{% endfor %}
    	</tr>
    </tfoot>
</table>
{% if table.page %}
<ul class="pagination">
    {% if table.page.has_previous %}
    <li class="previous"><a href="{% set_url_param page=table.page.previous_page_number %}">Previous</a></li>
    {% endif %}
    <li class="current">Page {{ table.page.number }} of {{ table.paginator.num_pages }}</li>
    {% if table.page.has_next %}
    <li class="next"><a href="{% set_url_param page=table.page.next_page_number %}">Next</a></li>
    {% endif %}
</ul>
{% endif %}
</div>
{% endspaceless %}