{% extends "popup_base.html" %}      

{% block extrahead %}
<title>PYMOBILE | Statistiche</title> 
{% endblock %}

{% block header %} 
<h2>Amministrazione Obiettivi | Elimina obiettivo</h2>
{% endblock %}

{% block content %}
<form action="{% url del_retribuzione dipendente.id %}" method="POST">
	{% csrf_token %}	
	<span>Sei sicuro di voler eliminare i seguenti obiettivi</span>
	<ul>
	{% for obj in objs %}
		<li>
			<b>{{ obj }}</b>
			<input type="hidden" name="id" value="{{ obj.id }}" />
		</li>
	{% endfor %}
	</ul>
	<input type="submit" value="Continua" />
	<button onclick="window.close()">Annulla</button>
</form>
{% endblock %}