{% spaceless %}
{% load tags %}
<div class="table-container">
<p><b>Periodo</b>: da <b>{{ period.0 }}</b> a <b>{{ period.1 }}</b></p>
<table id="retribuzione">
    <thead>
        <tr class="{% cycle "odd" "even" %}">
        	<th>Anno</th>
        	<th>Trimestre</th>
        	<th>Obiettivi</th>
        </tr>
    </thead>
    <tbody>
        {% for row in rows %}
        <tr class="{% cycle "odd" "even" %}">
        	<td {% if row.anno %}class="anno"{% endif %}>
        		{% if row.anno %}<b>{{ row.anno }}</b>{% endif %}
    		</td>
        	<td {% if row.quarto %}class="mese"{% endif %}>
        		<b>{{ row.quarto.0 }}° Quarto</b><br />
        		<i>{{ row.quarto.1.0 }} <br /> {{ row.quarto.1.1 }}</i>
    		</td>
    		{% if row.parametri %}
			<td {% if row.parametri  %}class="retribuzione"{% else %}class="libero"{% endif %}>
				<a class="visualizza" href="#"><img src="{{ STATIC_URL }}/img/destra.png" /></a>
				<p class="info">
					Parametri Obbiettivo: {{ row.parametri }}
			    </p>
			</td>
			{% else %}
			<td></td>
			{% endif %}
        </tr>
        {% empty %}
        <tr><td colspan="4">Tabella Vuota</td></tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endspaceless %}