{% extends "base.html" %}      

{% block extrahead %}
<title>PYMOBILE | Statistiche</title>
{% endblock %}

{% block header %} 
<h2>Statistiche: Obiettivi</h2>
{% endblock %}

{% load tags %}

{% block content %}
<div class="navigation">
	<fieldset>
	<legend>Sei qui</legend>
		<a href="../../../">home</a> &gt; 
		<a href="../../">statistiche</a> &gt;
		<a href="{% url canvas_obiettivo_trimestrale %}">obiettivi trimestrali</a> &gt;
		<a href=".">amm. obiettivi trimestrali</a>
	</fieldset>
</div>
<div id="modeltable_div">
	<p class="modeltable_name"><b>Tabella degli Obiettivi Trimestrali</b></p>
	{% load django_tables2 %}
	{% render_table modeltable %}
	
	<div class="modeltable_actions_div">
		<img src="{{ STATIC_URL }}/img/freccia_sel.png" />
		Se selezionati: <select class="modeltable_actions">
							<option value="delete">Elimina</option>
						</select>
						<button class="modeltable_actions_ok">Ok</button>
	</div>	
	<a class="addrow" href="{% url add_obiettivo_trimestrale %}">Aggiungi</a>
</div>
{% endblock %}

{% block extraleft_bar %}
<!-- <div id="filter_modeltable_div">
	<form id="filter_modeltable_form" action=".">
		<fieldset class="filter_modeltable_fieldset">
		<legend>Filtro</legend>
			<table id="filter_modeltable">
				<tbody>
					<tr>
						<td><b>Data</b></td>
						<td>
						<table>
							<tr><td>da</td><td><input id="id_data_inizio" class="date_start" type="text" name="data_inizio"></td></tr>
							<tr><td>a</td><td><input id="id_data_fine" class="date_end" type="text" name="data_fine"></td></tr>
						</table>
						</td>
					</tr>					
				</tbody>				
			</table>
		</fieldset>
		<input type="submit" id="filter_modeltable_search" value="seleziona" />
		<input type="reset" id="filter_modeltable_reset" value="reset" />
	</form>
</div>	 -->
{% endblock %}