{% extends "django_tables2/table.html" %}

{% block table.tfoot %}
<tfoot id="totals_row">
	<tr>
		<td><b>Totali</b></td>
		<td>{{ totals_out.n_stipulati }}</td>
		<td>{{ totals_out.prov_agt|stringformat:".2f" }}</td>
		<td>{{ totals_out.prov_bonus_agt|stringformat:".2f" }}</td>
		<td>{{ totals_out.prov_tel|stringformat:".2f" }}</td>
		<td>{{ totals_out.prov_bonus_tel|stringformat:".2f" }}</td>
		<td>
			{{ totals_out.uscite.total|stringformat:".2f" }}€
			{% if totals_out.uscite.total != 0 %}
			<a class="view_details" href="#"><img src="{{ STATIC_URL }}/img/destra.png" /></a>
	        <p class="details">
	            {% for k, total in totals_out.uscite.details.iteritems %}
	            <b>{{ k }}</b>: {{ total|stringformat:".2f" }}€<br />
	            {% endfor %}
	        </p>
	        {% endif %}
        </td>
	</tr>
</tfoot>  
{% endblock %}
