<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />

	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/anytime.css" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/base.css" />
 	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/custom/jquery-ui-1.8.17.custom.css" />	

	<script type="text/javascript" src="{{ STATIC_URL }}/js/jquery-1.7.1.min.js"></script>
 	<script type="text/javascript" src="{{ STATIC_URL }}/js/jquery-ui-1.8.17.custom.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}/js/anytime.js"></script> 
   	<script type="text/javascript" src="{{ STATIC_URL }}/js/combobox.js"></script>
   	<script type="text/javascript" src="{{ STATIC_URL }}/js/messages.js"></script>

   		
  	{% block extrahead %}{% endblock %}
</head>
<body> 
  	<header id="header">
  		{%block header %}{% endblock %}
	</header>
	<div id="left_bar">
		<div id="navigation_link">
			<fieldset>
			<legend>Navigazione</legend>
			<ul>
				<li><a href="{% url init_dipendente %}">Amministrazione Dipendenti</a></li>
				<li><a href="{% url init_cliente %}">Amministrazione Clienti</a></li>
				<li><a href="{% url init_tariffa %}">Amministrazione Tariffe</a></li>
				<li><a href="{% url init_appuntamento %}">Amministrazione Appuntamenti</a></li>
				<li><a href="{% url init_contratto %}">Amministrazione Contratti</a></li>
				<li><a href="{% url canvas_tim_telecom %}">Statistiche</a></li>	
			</ul>
			</fieldset>
		</div>
		{% block extraleft_bar %}{% endblock %}
	</div>
  	<div id="content">
  		{% if messages %}
		<div class="messages">
			<fieldset>
			<legend>Messaggi</legend>
		    	{% for message in messages %}
		    	<p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
		    	{% endfor %}
		    </fieldset>
		</div>
		{% endif %}
  		{% block content %}{% endblock %}
	</div>
</body>
</html>