<html lang="it-IT">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />

	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/css/base_firstpage.css" />

	<script type="text/javascript" src="{{ STATIC_URL }}/js/jquery-1.7.1.min.js"></script>
   	<script type="text/javascript" src="{{ STATIC_URL }}/js/messages.js"></script>
   	<script type="text/javascript" src="{{ STATIC_URL }}/js/capitalize.js"></script>
	
	<title>LOGIN</title>
</head>
<body>
<div id="login_div">
	{% if messages %}
	<div class="messages">
		<fieldset>
		<legend>Messaggi</legend>
	    	{% for message in messages %}
	    	<p{% if message.tags %}class="{{ message.tags }}"{% endif %} >{{ message }}</p>
	    	{% endfor %}
	    </fieldset>
	</div>
	{% endif %}
	<form id="login_form" method="post" action="{% url login %}">
		{% csrf_token %}
		<fieldset>
		<legend>Login</legend>
			<table>
				<tr>
					<td><label for="login_username">Username</label></td>
					<td><input id="login_username" type="text" name="username" /></td>
			 	</tr>
			 	<tr>
					<td><label for="login_password">Password</label></td>
					<td><input id="login_password" type="password" name="password" /></td>
				</tr>
			</table>
		</fieldset>
		<input type="hidden" name="next" value="dipendente/admin.html" />
		<input type="submit" value="Entra" />
	</form>
</div>
</body>
</html>
