{% extends "base.html" %}      

{% load tags %}

{% block extrahead %}
<title>PYMOBILE | Contratto</title>
<script type="text/javascript" src="{{ STATIC_URL }}/js/viewobj.js"></script>
{% endblock %}

{% block header %} 
<h2>Amministrazione Contratti | {{ object }}</h2> 
{% endblock %}

{% block content %}
<div class="navigation">
	<fieldset>
	<legend>Sei qui</legend>
		<a href="../../">home</a> &gt; 
		<a href="../">amministrazione contratti</a> &gt;
		<a href="./">{{ object }}</a>
	</fieldset>
</div>
<div class="div_menu">
	<ul id="menu_list">
		<li><a href="#">Ottieni Copia Contratto</a></li>
		<li>qualche azione</li>
		<li>qualche azione</li>		
	</ul>
</div>
<div class="div_detail">
	<fieldset>
	<legend>Dati Contratto</legend>
		<table class="table_detail">
			<tr><td>Cliente</td><td><a href="{% url view_cliente object.cliente.pk %}">{{ object.cliente }}</a></td></tr>
			<tr><td>Agente</td><td><a href="{% url view_dipendente object.agente.pk %}">{{ object.agente }}</a></td></tr>
			<tr>
				<td colspan="2">
					<fieldset>
					<legend>Piano Tariffario</legend>
						<table>
							{% for tariffa in object.piano_tariffario.all %}
							<tr><td>Tariffa</td><td>{{ tariffa }}</td></tr>
							<tr><td>Quantità</td><td>{{ tariffa|get_pt_num:object.pk }}</td></tr>
							<tr><td>Opzione</td><td>{% if tariffa|get_pt_opt:object.pk %}<img src="{{ STATIC_URL }}/img/spunta.png" />{% endif %}</td></tr>
							{% endfor %}
						</table>
					</fieldset>
				</td>
			</tr>
			{% if object.pdf_contratto %}
			<tr><td colspan="2">Copia del contratto caricata sul Server</td></tr>
			{% else %}
			<tr><td colspan="2">Copia del contratto non ancora caricata sul Server</td></tr>
			{% endif %}
			<tr><td>Completato</td><td>{% if object.completo %}<img src="{{ STATIC_URL }}/img/checkbox_true.png" /> [{{ object.data_completato }}]{% else %}<img src="{{ STATIC_URL }}/img/checkbox_false.png" />{% endif %}</td></tr>
			<tr><td>Inviato</td><td>{% if object.inviato %}<img src="{{ STATIC_URL }}/img/checkbox_true.png" /> [{{ object.data_inviato }}]{% else %}<img src="{{ STATIC_URL }}/img/checkbox_false.png" />{% endif %}</td></tr>
			<tr><td>Caricato</td><td>{% if object.caricato %}<img src="{{ STATIC_URL }}/img/checkbox_true.png" /> [{{ object.data_caricato }}]{% else %}<img src="{{ STATIC_URL }}/img/checkbox_false.png" />{% endif %}</td></tr>
			<tr><td>Attivato</td><td>{% if object.attivato %}<img src="{{ STATIC_URL }}/img/checkbox_true.png" /> [{{ object.data_attivato }}]{% else %}<img src="{{ STATIC_URL }}/img/checkbox_false.png" />{% endif %}</td></tr>
			{% if object.nota %}
			<tr><td>Nota</td><td>{{ object.nota }}</td></tr>
			{% endif %}
		</table>
	</fieldset>
	<div class="op_detail">
		<ul id="op_list">
			<li><a id="mod_{{ object.id }}" class="modifyobj" href="{% url mod_contratto object.id %}">Modifica</a></li>
			<li><a id="del_{{ object.id }}" class="deleteobj" href="{% url del_contratto %}?id={{ object.id }}">Cancella</a></li>
		</ul>
	</div>
</div>
{% endblock %}